<script src="{{{minoval_path}}}jquery/dist/jquery.js"></script>

<script src="{{{minoval_path}}}fieldval/fieldval.js"></script>
<script src="{{{minoval_path}}}fieldval-basicval/fieldval-basicval.js"></script>
<script src="{{{minoval_path}}}fieldval-ui/fieldval-ui.js"></script>
<script src="{{{minoval_path}}}fieldval-rules-js/fieldval-rules.js"></script>

<!-- Apply the "minimal" theme to FieldVal-UI -->
<link rel="stylesheet" type="text/css" href="{{{minoval_path}}}fieldval-ui/themes/minimal.css">
<script src="{{{minoval_path}}}fieldval-ui/themes/minimal.js"></script>

<script>
$(document).ready(function(){

    var types = {{{types}}}
    console.log(types);

    var vr = new ValidationRule();
	var rule_error = vr.init(types);
    if(rule_error){
        console.error(rule_error);
        return;
    }

	var form = vr.create_form();

	$("body").append(
		form.element.append(
			$("<button />").text("Submit")
		),
		output = $("<pre />")
	)

	form.on_submit(function(object){
		console.log(object);
	    var error = vr.validate(object);
	  
		if(error){
			console.log(error);
			form.error(error)
			output.text('"error": '+JSON.stringify(error,null,4));
		} else {
			form.clear_errors();
			output.text('"object": '+JSON.stringify(object,null,4));

			var path = location.pathname.split('/');
			var url = '{{{minoval_path}}}create_endpoint';

			$.ajax({
		        type: "POST",
		        url: url,
		        contentType: "application/json; charset=utf-8",
		        dataType: "json",
		        data: JSON.stringify(object),
		        success: function(response) {
		            window.location.pathname = response.redirect;
		        },
		        error: function(err, response) {
		        	console.log(err, response);
		        }
		    })
		}
	})
})
</script>