<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			var minoval_path = '{{{minoval_path}}}';
			var example_path = '{{{example_path}}}';
		</script>

		<link rel="stylesheet" href="{{{minoval_path}}}style.css" type="text/css" />
		<script src="{{{minoval_path}}}frontend.js"></script>
		<script type="text/javascript" src="/mino/minoval/minoval.js"></script>
	
	</head>
<body>
	<noscript>
	This site requires Javascript
	</noscript>
</body>
</html>